<div style="background-color: #180161; color: white; padding: 20px; border-radius: 10px;">
    <h2 style="text-align: center">Import Necessary Libraries</h2>
</div>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report, confusion_matrix
from imblearn.over_sampling import SMOTE

import warnings
warnings.filterwarnings("ignore")

<div style="background-color: #180161; color: white; padding: 20px; border-radius: 10px;">
    <h2 style="text-align: center">Load the Data</h2>
</div>

In [2]:
df = pd.read_csv("smsspamcollection.tsv", sep="\t")

In [3]:
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [4]:
df.tail()

     label                                            message  length  punct
5567  spam  This is the 2nd time we have tried 2 contact u...     160      8
5568   ham               Will ü b going to esplanade fr home?      36      1
5569   ham  Pity, * was in mood for that. So...any other s...      57      7
5570   ham  The guy did some bitching but I acted like i'd...     125      1
5571   ham                         Rofl. Its true to its name      26      1

<div style="background-color: #180161; color: white; padding: 20px; border-radius: 10px;">
    <h2 style="text-align: center">Sanity Check of Data</h2>
</div>

In [5]:
df.shape

(5572, 4)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   object
 1   message  5572 non-null   object
 2   length   5572 non-null   int64
 3   punct    5572 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.3+ KB

In [8]:
df.isnull().sum()

label      0
message    0
length     0
punct      0
dtype: int64

In [10]:
df.duplicated().sum()

403

In [14]:
df['label'].value_counts()

label
ham     4825
spam     747
Name: count, dtype: int64

<div style="background-color: #180161; color: white; padding: 20px; border-radius: 10px;">
    <h2 style="text-align: center">Exploratory Data Anlaysis (EDA)</h2>
</div>

In [13]:
# descriptive statistics
numerical_summary = df.describe().transpose()

palette = sns.color_palette("viridis", as_cmap=True)

numerical_summary.style.background_gradient(cmap=palette)